html,
body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.container .box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: url("assets/geometricBGs43.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.box1 .title {
  align-items: center;
  width: 200px;
}

.box1 h1 {
  color: #ffff;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  text-align: center;
}

.box1 .info {
  width: 180px;
}

.box1 h6 {
  color: #ffff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 100;
  text-align: center;
  margin: 0;
}

.container .box2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.box2 form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 250px;
  max-width: 350px;
}

.box2 div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 30%;
}

label {
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  width: 100%;
}

input[type="text"],
input[type="email"] {
  border: 2px solid rgb(218, 216, 216);
  padding: 10px 5px 10px 5px;
  background-color: rgb(214, 218, 218);
  width: 100%;
}

input[type="submit"] {
  color: white;
  background: linear-gradient(#420d97, #04061a);
  width: 85%;
  height: 40%;
  padding: 8px 0 8px 0;
  border: none;
}

/* ----------------------M 770--------------------- */

@media screen and (min-width: 770px) {
  .container .box1 {
    height: 60%;
  }

  .box1 .title {
    width: 250px;
  }

  .box1 h1 {
    font-weight: 200;
    text-align: center;
  }

  .box1 .info {
    width: 270px;
  }

  .container .box2 {
    justify-content: center;
    flex-direction: row;
    height: 40%;
  }

  .box2 form {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    min-width: 450px;
    max-width: 990px;
  }

  .box2 div {
    justify-content: center;
    width: 35%;
    height: 30%;
    flex-grow: 1;
  }

  input[type="text"],
  input[type="email"] {
    width: 80%;
    align-self: flex-start;
  }

  form div:nth-child(1) {
    margin-left: 40px;
  }

  form div:nth-child(3) {
    align-self: flex-start;
    flex-grow: 0.1;
    width: 100%;
  }

  input[type="submit"] {
    align-self: flex-start;
    border: none;
    width: 25%;
    margin-left: 5%;
  }
}

/* ---------------------LG 1260--------------------- */

@media screen and (min-width: 1260px) {
  .container {
    flex-direction: row;
    max-height: 1300px;
  }

  .container .box1 {
    width: 50%;
    height: 100%;
  }

  .box1 .title {
    width: 360px;
    height: 400px;
    justify-content: right;
  }

  .box1 h1 {
    font-size: 45px;
    font-weight: 200;
    text-align: right;
    line-height: 2;
  }

  .box1 h6 {
    font-size: 18px;
    font-weight: 200;
    text-align: right;
  }

  .box1 .info {
    width: 360px;
  }

  .container .box2 {
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
  }

  .box2 form {
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    height: 50%;
    min-width: 250px;
    max-width: 550px;
  }

  .box2 div {
    justify-content: center;
    width: 90%;
    height: 20%;
    margin-left: 10%;
  }

  input[type="text"],
  input[type="email"] {
    width: 80%;
    align-self: flex-start;
  }

  form div:nth-child(1) {
    margin-left: 10%;
  }

  form div:nth-child(3) {
    align-self: center;
    flex-grow: 1;
    width: 70%;
  }

  input[type="submit"] {
    align-self: flex-start;
    border: none;
    width: 70%;
    margin-left: 0;
  }
}
