html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 770px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  max-height: 844px;
}

.container .box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 770px;
  background: url("assets/geometricBGs43.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.box1 .title {
  align-items: center;
  min-width: 200px;
  max-width: 200px;
}

.box1 h1 {
  margin: 0;
  color: #ffff;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  text-align: center;
}

.box1 .info {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 180px;
  max-width: 180px;
}

.box1 h6 {
  margin: 0;
  color: #ffff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 100;
  text-align: center;
}

.container .box2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 770px;
  flex-direction: column;
  height: 50%;
}

.box2 form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 250px;
  max-width: 350px;
}

.box2 div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 30%;
}

label {
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  width: 100%;
}

input[type="text"],
input[type="email"] {
  border: 2px solid rgb(218, 216, 216);
  padding: 10px 5px 10px 5px;
  background-color: rgb(214, 218, 218);
  width: 100%;
}

input[type="submit"] {
  color: white;
  background: linear-gradient(#420d97, #04061a);
  width: 85%;
  height: 40%;
  padding: 8px 0 8px 0;
  border: none;
}
